<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Foodie Faves</title>
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">   --}}
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!-- Center the webpage title -->
    <div class="title-container">
        <h1>Foodie Faves</h1>
    </div>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/signup">Register</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
    <!-- End of Navbar -->

    <!-- Recipe Cards -->
    {{{body}}}
    <!-- End of Recipe Cards -->

</body>
</html>
