<form method="post" action="/api/recipes">


    <input placeholder="name" name="name">
    <textarea placeholder="description" rows=3 cols=15 name="description"></textarea>
    <select name="flavor">
        <option value="savory">savory</option>
        <option value="sweet">sweet</option>
        <option value="sour">sour</option>
        <option value="bitter">bitter</option>
        <option value="umami">umami</option>
    </select>

    <input placeholder="cuisine" name="cuisine" />
    <input placeholder="userid" type="number" name="user_id" />


    <button type="submit">add</button>



</form>

{{!-- BULMA form layout --}}

<div class="field">
    <label class="label">Recipe Name</label>
    <div class="control">
        <input class="input" type="text" id="name" placeholder="pasta">
    </div>
</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
        <input readonly class="input is-success" type="text" id={{user.id}}placeholder="{{user.name}}" value="bulma">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        {{!-- <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span> --}}
    </div>

</div>

<div class="field">
    <label class="label">Description</label>
    <div class="control has-icons-left has-icons-right">
        <textarea class="textarea" id="description" placeholder="Textarea"></textarea>
        
    
    </div>
    <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
    <label class="label">Flavor</label>
    <div class="control">
        <div class="select">
            <select id="flavor">
                <option>Select dropdown</option>
                <option value="savory">savory</option>
                <option value="sweet">sweet</option>
                <option value="sour">sour</option>
                <option value="bitter">bitter</option>
                <option value="umami">umami</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Cuisine</label>
    <div class="control">
    <input class="input is-danger" type="text" id="cuisine" placeholder="cuisine" value="italian">    
    </div>
</div>

<div class="field">
    <label class="label">Steps</label>
<textarea class="textarea" id="details" placeholder="all steps"></textarea>
</div>


<div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div>
</div>

<script src="/js/recipe.js"></script>