<form class='add-recipe' method="post" action="/api/recipes">


    <input placeholder="name" name="name">
    <textarea placeholder="description" rows=3 cols=15 name="description"></textarea>
    <select name="flavor">
        <option value="savory">savory</option>
        <option value="sweet">sweet</option>
        <option value="sour">sour</option>
        <option value="bitter">bitter</option>
        <option value="umami">umami</option>
    </select>

    <input placeholder="cuisine" name="cuisine" />


    <button type="submit">add</button>



</form>

{{!-- BULMA form layout --}}

