<div class="container">
  <h1>Sign Up</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/public/css/style.css"> 
<!-- Display the error message if it exists -->
{{#if errorMessage}}
  <p style="color: red;">{{errorMessage}}</p>
{{/if}}

<form id="signupForm" action="/api/users/signup" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Sign Up</button>
  </form>
  <script src="/public/js/signup.js"></script>

  <p>Already have an account? <a href="/login">Login</a></p>
</div>

